RPC_URL="https://mainnet.helius-rpc.com/?api-key="
FEE_PAYER_KEYPAIR=""
JITO_KEYPAIR=""
PROXY_URL=""
DISTRIBUTE_BEFORE_TRADE="false"
GENERATE_WALLETS="true"
NUMBER_OF_WALLETS="5"
DISTRIBUTION_AMOUNT="0.01"
SLIPPAGE="20"
DELAY_BETWEEN_TRADES="5" # in seconds
TRADE_MIN_AMOUNT_PERCENTAGE="20"
TRADE_MAX_AMOUNT_PERCENTAGE="40"
SIMULTANEOUS_TRADES="2"
QUOTE_MINT="So11111111111111111111111111111111111111112"
BASE_MINT="4k3Dyjzvzp8eMZWUXbBCjEvwSkkk59S5iCNLY3QrkX6R"